body {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: gray;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
}

.search-form-title > h2 {
  font-size: 30px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.main-header {

}

.layout-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
/*  margin: 0 72px;*/
  z-index: 1;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  font-size: 0px;
}

.main-navigation li {
  display: inline-block;
  width: 20%; 
  font-size: 14px;
  line-height: 26px;
  margin: 15px 0;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}

.main-navigation li:nth-child(3) {
  margin-left: 20%;
}

.main-navigation a{
  text-decoration: none;
  color: black;
}

.header-logo img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/*-------------------------index-----------------------------*/

.index-content-image {
  position: relative;
  margin-bottom: 53px;
}

.logo {
  width: 100%;
  height: 100%;
}

.mask {
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 5px;
}

.index-content-title {
  margin-bottom: 51px;
  text-align: center;
}

.index-content-title h2 {
  margin-bottom: 34px;
}

.features {
  margin-bottom: 55px;
}

.container {
  width: 1200px;
  position: relative;
}

.features-item {
  float: left;
  width: 33.33%;
  text-align: center;
}

.features-item img {
  position: absolute;
  right: 0px;
}

.image-left {
  float: left;
}

.features-item > h2 {
  width: 40%;
  margin: 54px auto 25px auto;
  line-height: 21px;
}

.features-item > p {
  margin: 23px 49px 0px 49px;
}

.features-item p:last-child {
  margin-bottom: 50px;
}

.icon .features-item h2 {
  position: relative;
  margin-top: 160px;
  margin-bottom: 25px;
}

.icon .features-item p {
  margin-bottom: 85px;
}

.search-form-title {
  margin-bottom: 50px;
}

.search-form-title h2 {
  margin-bottom: 30px;
}

.search-form-title p {
  text-align: center;
}

.search-btn {
  display: block;
  width: 570px;
  margin: 0 auto;
  padding: 31px 0;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

form {
  display: none;
}

.map {
  position: relative;
  width: 1200px;
  height: 593px;
  background: #000000 url("../img/map.jpg") no-repeat 0px 0px;
}

/*----------------------inner---------------------------*/
.search-hotels {
  background: #426984 url("../img/catalog-bg.jpg") no-repeat 0px 0px;
  width: 100%;
  min-height: 217px;
}

.catalog-content {
  padding: 0 46px;
}

.search-item {
  float: left;
  width: 33.33%;
}

.results {
  min-height: 85px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.results p {
  display: inline-block;
  outline: 1px solid black; 
}

.hotel-item {
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  width: 153px;
  float: left;
}

.item {
  float: left;
  width: 373px;
}

.stars {
  float: right;
  width: 153px;
}

/*--------------------footer----------------------------*/

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 28px;
  padding-bottom: 30px;
  text-align: center;
}

.inner .main-footer {
  position: static;
}

.footer-tag {
  float: left;
  width: 33.33%;
}

.footer-tag p {
  font-size: 21px;
}

.footer-social {
  float: left;
  width: 33.33%;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  vertical-align: bottom;
  margin: 8px 3px;
}

.footer-copyright {
  float: right;
  width: 33.33%;
}
