body {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
}

.search-form-title > h2 {
  font-size: 30px;
}

